#topBar {
    background-image: linear-gradient(to right, rgb(24, 201, 133) , rgb(25, 219, 203));
    color: white; 
    height: 150px;
    position: relative; 
    font-weight: 600;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Arial,sans-serif
}

.title {
    padding: 40px 0px 5px 70px; 
    font-size: 35px; 
    font-weight: 600;
}

.subtitle {
    padding: 0em 0px 5px 72px; 
    font-size: 22px; 
    color: rgba(255, 255, 255, 0.877); 
}

#booksTitleLabel {
    padding: 20px 0px 10px 70px; 
    font-size: 35px; 
}

#booksTitleLabel, th {
    color: rgb(48, 48, 48); 
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Arial,sans-serif;  
    font-weight: 600; 
}

#tableContainer {
    padding-left: 70px; 
}

table {
    border-collapse: collapse; 
}

td, th {
    padding: 5px 15px 5px 5px; 
}

th {
    text-align: left;
    border-bottom: solid 2px #ccc;
}

td {
    border-top: solid 1px #ccc;
}

tbody>tr>:nth-child(1), thead>tr>:nth-child(1){
    padding-left: 15px; 
   }
